<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 命名空间为该映射文件对应实体类的全路径 -->
<mapper namespace="cn.ssm.user.mapper.IUserMapper">

    <resultMap id="User" type="cn.ssm.user.api.model.User">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="role" column="role"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
            id, user_name, nick_name, password, status, role, create_date, update_date
        ]]>
    </sql>

    <sql id="findWhere">
        <where>
            <choose>
                <when test=""></when>
                <otherwise></otherwise>
            </choose>
            <if test="createDate != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                AND last_update_time = #{lastUpdateTime,jdbcType=DATE},
            </if>
            <if test="userName != null">
                AND user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                AND nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                AND password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                AND role = #{role,jdbcType=SMALLINT},
            </if>
        </where>
    </sql>

    <delete id="deleteById" parameterType="int">
        DELETE FROM sys_user
        <![CDATA[
            WHERE id = #{id,jdbcType=INTEGER}
        ]]>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        <![CDATA[
            INSERT INTO sys_user (
                id ,
                user_name ,
                nick_name ,
                password ,
                birthday ,
                status ,
                role ,
                create_date ,
                update_date
            ) VALUES (
                #{id, jdbcType=INTEGER} ,
                #{userName, jdbcType=VARCHAR} ,
                #{nickName, jdbcType=VARCHAR} ,
                #{password, jdbcType=VARCHAR} ,
                #{birthday, jdbcType=DATE} ,
                #{status, jdbcType=VARCHAR} ,
                #{role, jdbcType=SMALLINT} ,
                now() ,
                #{updateDate, jdbcType=TIMESTAMP}
            )
        ]]>
    </insert>

    <select id="getById" parameterType="int" resultMap="User">
        SELECT <include refid="columns"/> FROM sys_user
        <![CDATA[
            WHERE id = #{id, jdbcType=INTEGER}
        ]]>
    </select>

    <update id="update" parameterType="user">
        UPDATE sys_user
        <trim prefix="set" suffixOverrides=",">
                last_update_time = #{lastUpdateTime, jdbcType=TIMESTAMP},
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=SMALLINT},
            </if>
        </trim>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO sys_user ( <include refid="columns"/> ) VALUES
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id, jdbcType=INTEGER} ,
            #{item.userName, jdbcType=VARCHAR} ,
            #{item.nickName, jdbcType=VARCHAR} ,
            #{item.password, jdbcType=VARCHAR} ,
            #{item.birthday, jdbcType=DATE} ,
            #{item.status, jdbcType=VARCHAR} ,
            #{item.role, jdbcType=SMALLINT} ,
            now() ,
            #{item.updateDate, jdbcType=TIMESTAMP}
        </foreach>
    </insert>

    <delete id="deleteBatch" parameterType="list">
        DELETE FROM sys_user WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id, jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="findAll" resultMap="User">
        SELECT <include refid="columns"/> FROM sys_user
    </select>

    <select id="selectByUserName" parameterType="string" resultMap="User">
        SELECT <include refid="columns"/> FROM sys_user
        <![CDATA[
            WHERE user_name = #{userName, jdbcType=VARCHAR}
        ]]>
    </select>
</mapper>