<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 命名空间为该映射文件对应实体类的全路径 -->
<mapper namespace="cn.ssm.user.mapper.IUserMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            id, user_name, nick_name, password, role, deleted, create_time, update_time
        ]]>
    </sql>


    <select id="selectByUserName" resultType="User">
        SELECT <include refid="Base_Column_List"/> FROM sys_user
            WHERE user_name = #{userName}
    </select>
</mapper>